@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 8%;
    background: linear-gradient(to bottom, #086ecc, #59aef6 50%, #fee32c);
}

section {
    padding-top: 30px;
    margin-right: 30px;
}

div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
}

label,
input {
    display: block;
}
label {
    margin-top: 20px;
    font-size: medium;
}

label:first {
    margin-top: none;
}

input {
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 250px;
    height: 40px;
}

#container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 120%;
    border-radius: 10px;
    color: white;
}

img {
    width: 40%;
}

header {
    color: white;
    text-align: center;
}

header p {
    font-size: 30px;
}

#container p {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 30px 0 20px 0;
}

a {
    color: white;
    font-size: 15px;
}
a:hover {
    color: white;
    text-decoration: none;
}

input[type="submit"] {
    color: white;
    background: #ed3b50;
    width: 50%;
    border: none;
    margin: 5px 0 5px auto;
    cursor: pointer;
}

li {
    list-style-type: none;
    word-break: break-all;
}

.btn {
    color: white;
    background: #ed3b50;
    width: 50%;
    border: none;
    margin-bottom: 30px;
}

.top {
    margin: 20px;
    font-weight: bold;
}

.bottom {
    margin: 20px;
}

#clear {
    margin-top: 20%;
}
